doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title #{title} | Backbone Bootstrap
        link(href='/css/style.css', rel='stylesheet')
    body
        block body

    script(src='js/app.js')
